Import Packages

In [2]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score, confusion_matrix, r2_score
from sklearn.model_selection import train_test_split as tt
from sklearn.preprocessing import LabelEncoder, StandardScaler
from xgboost import XGBRegressor
from sklearn.svm import SVC
from sklearn.linear_model import LinearRegression, LogisticRegression
import warnings

warnings.filterwarnings("ignore")

Reading the csv files

In [3]:
df1 = pd.read_csv("exercise.csv")
df2 = pd.read_csv("calories.csv")

These datasets can be used seperately by I thought of merging(I don't remember y?)

In [5]:
df = pd.merge(df1, df2,on='User_ID')
df.to_csv("calories_exercise.csv")
df

,User_ID,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
0,14733363,male,68,190.0,94.0,29.0,105.0,40.8,231.0
1,14861698,female,20,166.0,60.0,14.0,94.0,40.3,66.0
2,11179863,male,69,179.0,79.0,5.0,88.0,38.7,26.0
3,16180408,female,34,179.0,71.0,13.0,100.0,40.5,71.0
4,17771927,female,27,154.0,58.0,10.0,81.0,39.8,35.0
...,...,...,...,...,...,...,...,...,...
14995,15644082,female,20,193.0,86.0,11.0,92.0,40.4,45.0
14996,17212577,female,27,165.0,65.0,6.0,85.0,39.2,23.0
14997,17271188,female,43,159.0,58.0,16.0,90.0,40.1,75.0
14998,18643037,male,78,193.0,97.0,2.0,84.0,38.3,11.0
14999,11751526,male,63,173.0,79.0,18.0,92.0,40.5,98.0

Data Preprocessing, Splitting data into training and testing sets

In [6]:
# Data Processing
df = df.replace({"Gender": {"female": 0, "male": 1}})
m = df.drop(["User_ID", "Calories"], axis=1).values
n = df["Calories"]

m_train, m_test, n_train, n_test = tt(m, n, train_size=0.78, random_state=0)

Fitting data into Logistic Regression model(becz Linear Reg, XGBReg give more error)

In [13]:
clf = LogisticRegression()
clf.fit(m_train, n_train)

n_train_pred = clf.predict(m_train)
n_test_pred = clf.predict(m_test)

Calculate the r squared error for the predictions

In [14]:
train_error = r2_score(n_train, n_train_pred)
test_error = r2_score(n_test, n_test_pred)
print("Training Error:", train_error)
print("Testing Error:", test_error)

Training Error: 0.7450456313766909
Testing Error: 0.7550559876429128

In [ ]:
Prediction for user defined inputs

In [15]:
ip = np.array((1, 36, 151.0, 50.0, 23.0, 96.0, 40.7))
# ip = np.array((1,60,186.0,94.0,21.0,97.0,40.4))
ip = ip.reshape(1, -1)
pred = clf.predict(ip)
print(pred)

[173.]